/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* Nguyên tắc làm việc
    1. Từ ngoài vào trong
    2. Từ trên xuống dưới
    3. => Tổng quan đến chi tiết */

/* 1.Vị trí
   2.Kích thước ( width, height )
   3.Màu sắc
   4. Kiểu dáng */ 


/* 1.Main */


.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}



.row {
     margin-left: -8px;
     margin-right: -8px;   
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px; 
}

.col-third {
    width: 33.3333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}


.mt-8 {
    margin-top: 8px;
}





/* Main */

#main {

}

/* Header */

#header {
    position: fixed; /* khi để p:fixed thì tính chất kế thừa
    chiều ngang của thẻ block không còn */
    top: 0; /* Thêm top và right bằng 0 cho chắc */
    left: 0;
    right: 0; /* vậy nên thêm right: 0; */
    height: 46px;
    background-color: #000;
    z-index: 1;
}

#nav {
    display: inline-block;
}



#nav, .subnav {
    list-style-type: none;
}

#nav li {
    position: relative;
}
#nav > li {
    display: inline-block;    
}

#nav > li > a /* chỉ rõ là chỉ tác động vào thẻ a con của li và con của nav */ {
    color: white;
    text-transform: uppercase;
}
#nav li a {
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    display: block;
}

#nav > li:hover > a {
    color: #000;
    background-color:gray;
}

/* phần subnav */

#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.521);
}

#nav .subnav a {
    color: black;
}

#nav .subnav li:hover {
    background-color: gray;
}

.nav-arrow-down {
    font-size: 14px;
}

#header .search-btn {
    font-size: 20px;
    float: right;
    line-height: 46px;
    padding: 0 20px;
    color: white;
}
#header .search-btn:hover {
    background-color: red;
    cursor: pointer;
}


/* 3.Slider */


#slider {
    margin-top: 46px; /* thẻ position: fixed sẽ nổi lên trên
    và nhường lại cho slider nên ta cần cách ra bằng header */
    padding-top: 50%; /* 50% chiều ngang của chính nó */
    background: url(../img/chicago.jpg) 
    top center / cover no-repeat;
    position: relative;
    
}

#slider .text-content {
    position: absolute;
    color:#fff;
    font-size: 24px ;
    bottom: 47px;
    /* Mot so cach can chinh
    1.
    left: 50%;
    transform: translateX(-50%);
    2.
    left: 0;
    right: 0; + text-align: ;*/
    width: 100%;
    text-align: center;

}

#slider .text-heading {
    font-weight: 700;
    font-size: 30px;

}

#slider .text-description {
    
    font-size: 20px;
    margin-top: 20px;

}


/* 4.Content */



#content {
    
}

/* About section */

#content .content-section {
    width: 800px;
    padding: 64px;
    margin-left: auto;
    margin-right: auto;
}

#content .heading-section {
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .sub-heading-section {
    text-align: center;
    margin: 25px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    line-height: 1.4;
    text-align: justify;
}

#content .member-list {
    margin-top: 48px;
}

#content .member-item {
    float: left;
    width: 33.33333333333%;
    text-align: center;
}

#content .member-name {
    font-size: 15px;
}

#content .member-img {
    margin: 30px;
    border-radius: 4px;
    margin-top: 15px;
    width: 154px;
}


/* Tour section */
   
    /* Tour */
.tour-section {
    background-color: black;
}



.tickets-list {
    margin-top: 40px;
    background-color: #fff;
}

.tickets-list li {
    padding: 11px 16px;
    list-style: none;
    color: #757575;
    font-size: 15px;
    border-bottom: 3px #ddd solid;
}

.tickets-list .sold-out {
    color: #fff;
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -2.5px;
}

    /* Tickets */

    
    .place-list {
        margin-top: 32px;
        margin-bottom: 48px;
    }

    .place-img {
        width: 100%;
        display: block;
    }
    .place-img:hover {
        opacity: 0.6;
    }

    .place-body {
        background-color: #fff;
        padding: 16px;
        font-size: 15px;
    }

    .place-heading {
        font-size: 15px;
    }

    .place-time {
        opacity: 0.6;
        margin-top: 15px;
    }

    .place-desc {
        margin-top: 15px;
        line-height: 1.4;
    }

    .place-btn {
        text-decoration: none;
        background-color: black;
        color: #fff;
        padding: 10px;
        display: inline-block;
        margin-top: 25px;
    }
    .place-btn:hover {
        background-color: #ccc;
        color: #000;
    }

    

/* Contact section */

.contact-mt {
    margin-top: 48px;
    margin-bottom: 48px; 
}

.contact-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1.5px;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}


.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    
}


.form-send-btn {
    margin-top: 16px;
    float: right;
    background-color: black;
    color: #fff;
    font-size: 18px;
    padding: 8px 12px;
    border: none;
}
.form-send-btn:hover {
    background-color: gray;
    color: black;
    cursor: pointer;
    
}

.map-section img {
    width: 100%;
}


#footer {
    padding: 64px 16px;
    text-align: center;
}

.social-list a {
    letter-spacing: 1px;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.copyright a:hover,
.social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

.copyright  {
    margin-top: 16px;
    margin-bottom: 22px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}
.copyright a {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}